@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
             <img src="https://www.newstalkzb.co.nz/media/22956064/food.jpg?mode=crop&amp;rnd=132651517049530000&amp;height=395&amp;width=635&amp;quality=80&amp;scale=both"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://resources.stuff.co.nz/content/dam/images/1/z/q/r/a/0/image.related.StuffLandscapeSixteenByNine.1420x800.1zqzso.png/1585043916656.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://resources.stuff.co.nz/content/dam/images/1/5/i/w/f/h/image.related.StuffLandscapeSixteenByNine.710x400.15irzk.png/1435292611963.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://www.rnz.co.nz/assets/news_crops/76692/eight_col_warehouse.jpg?1552943411"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://exportandtrade.co.nz/sites/exportermagazine/public/styles/x-large/public/article/image/Supermarket-Seoul%20%282%29.jpg?itok=26dSGdHk"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://www.ecopoint.co.nz/assets/Images-Case-Study/Animates/Animates-7.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>
</div>
<!-- Gallery -->